* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item {
    background-color: #a9c7df;
    border: 1px dotted #333;
    padding: 1rem;
}

.item:nth-child(even) {
    background-color: #d7dce0;
}

.container {
    display: grid;
}

.grid {
    grid-template-columns: 1fr;
    grid-template-areas:    "h" 
                            "n"
                            "m"
                            "f";
}

aside { 
    grid-area: a; 
    display: none;
}

nav { 
    grid-area: n; 
    /* display: none; */
}

header { grid-area: h; }
main { grid-area: m; }
footer { grid-area: f; }


@media(min-width: 768px) {

    .grid {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:    "h h" 
                                "n n"
                                "m a"
                                "f f";
    }   
    
    aside { 
        display: block;
    }

}

@media(min-width: 992px) {

    .grid {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:    "h n n" 
                                "m m a"
                                "f f f";
    }   

}