* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #222;
}

.container {
    display: flex;
    height: 100vh;
}

.circle {
    
    background:#fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: circleToBox 3s ease-in-out 0 infinite alternate forwards; */

    /* 
    animation-name: circleToBox;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards; 
    */

    /* animation: circleToBox 3s ease-in-out forwards; */
    /* animation: circleWithAnimatedCorners 4s ease-in-out infinite forwards; */
    animation: moveCircleFromCornerToCorner 5s ease-in-out infinite;
    /* margin: auto; */
}

@keyframes circleToBox {
    0%      { border-radius: 50% 50% 50% 50%; }
    25%     { border-radius: 0% 50% 50% 50%; }
    50%     { border-radius: 0% 0% 50% 50%; }
    75%     { border-radius: 0% 0% 0% 50%; }
    100%    { border-radius: 0 0 0 0;}    
}

@keyframes circleWithAnimatedCorners {
    0%      { border-radius: 50% 50% 50% 50%; }
    13%     { border-radius: 0% 50% 50% 50%; }
    25%     { border-radius: 50% 50% 50% 50%; }
    38%     { border-radius: 50% 0% 50% 50%; }
    50%     { border-radius: 50% 50% 50% 50%; }
    63%     { border-radius: 50% 50% 0% 50%; }
    75%     { border-radius: 50% 50% 50% 50%; }
    88%     { border-radius: 50% 50% 50% 0%; }
    100%    { border-radius: 50% 50% 50% 50%; }
}

@keyframes moveCircleFromCornerToCorner {
    0%      { top: 0; left: 0;}
    25%     { top: 0; left: calc(100% - 200px);}
    50%     { top: calc(100% - 200px); left: calc(100% - 200px);}
    75%     { top: calc(100% - 200px); left: 0;}
    100%    { top: 0; left: 0 }
}