/* CSS Google Font  */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700'); 
/* CSS Google Font end  */

/* Nollställer alla kanter */
:root {
    --ownPurple: #8f05c5;
    --ownGray: #3d3d3d; 
    --lightGray: #acacaca8;
    --brandColor: rgb(184, 4, 4);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.bg-img1 {
    background-image: url('/Inlämningsuppgift/images/header_bg.png') !important;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.bg-img2 {
    background-image: url('/Inlämningsuppgift/images/video_section_area_bg.jpg') !important;
    background-repeat: no-repeat;
    background-color: white !important; 
    width: 100%;
}

.bg-img3 {
    background-image: url('/Inlämningsuppgift/images/get_app_area_bg.jpg') !important;
    width: 100%;
    background-size: cover;
    color: white; 
}

.img-app:hover {
    box-shadow: 2px 0px 10px -1px var(--ownPurple);
    border-radius: 5px;
}

.img-appWhite:hover {
    box-shadow: 2px 0px 10px -1px #fff;
    border-radius: 5px;
}

/* START NAVBAR */

.navbar {
    background-color: var(--dark) !important;
}

.navbar-brand {
    background-color: var(--brandColor);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: #fafafa !important;
    margin-right: 12rem !important;
}

.navbar-brand:hover {
    box-shadow: 2px 0px 15px -1px #f8f8f8;
    border-radius: 5px;
}

.nav-item {
    float: left;
    font-weight: 600;
    color: #f8f8f8 !important;
}

.nav-item:focus {
    color: var(--ownPurple) !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f8f8f8 !important;
    border: 1px solid var(--ownPurple) !important;
    border-radius: 0.25rem;
}

.btn-register {
    float: left;
    font-weight: 600;
    color: var(--ownPurple);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-register:hover {
    background-color: var(--ownPurple);
    color: #fff;
}
/* END NAVBAR */

/* START FIRST-GRID SECTION */
.first-section {
    margin-bottom: 10rem !important; 
}

#first-grid {
    display: grid;
    margin: 2rem 1rem;
    grid-template-columns: 1fr;
    gap: 0rem;
}

#first-grid .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.4;
}

#first-content {
    color: #000000;
}

#feature {
    padding-left: 15px !important;
}

#featuresimg {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

#mobileImg img{
    width: 30%;
}

#feature-p {
    font-size: 1em;
    width: 70%;   
    margin-bottom: 0;
}

.p-h1 {
    font-size: 110%;
    font-weight: 100;
}

/* END FIRST-GRID SECTION */

/* START SECOND SECTION */

#second-grid {
    padding-right: 10rem;
    width: 90%;
    padding-top: 1rem;
}

.title2 {
    margin-bottom: 1rem;
    font-weight: 500;
    color: black;

}

#p1 {
    color: black;
}

#p2 {
    display: none;
}

#feature {
    padding-left: 15px;
    padding-right: 15px;
}

#playBtn {
    width: 15%;
    height: auto;
    position: absolute;
    top: 124px;
    left: 150px;
    cursor: pointer;
}

#img2 {
    border-radius: 20px;
    display: block;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-top: 1.5rem;
    height: 250px;
    width: 86%;
    position: relative;  
}

#img3 {
    height: 300px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.041);
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 2px 0px 10px -1px rgba(163, 163, 163, 0.205);
    border-radius: 20px;
    position: relative;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

#second-content {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    color: var(--ownGray);
    width: 170%;
}

#videoParagraph {
    margin-top: 2rem;
    color: black;
}

#spacing-sec2 {
    height: 10rem;
}
/* END SECOND SECTION */

/* START THIRD SECTION */

#third-section-bg {
    background-color: #c9c7c750;
    height: 72rem;
    margin-bottom: 10rem;
}

.own-jumbotron {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.nested {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows:160px;
    width: 350px;
    gap: 1.5em;
    padding: 2rem 1rem 10rem 1rem;
}

.nested > div {
    background-color: #ffffffe1;
    box-shadow: 0 0 5px 2px rgb(216, 216, 216);
    border-radius: 10px;
}

.Modern-features-p {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 1rem;
    font-size: 12px;
    font-weight: 500;
}

#third-p {
    font-weight: 500;
    font-size: 14px;
}

.own-h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    position: relative;
    color: var(--ownGray);
}

.own-rubrik {
    margin-top: 0 !important; 
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
    color: var(--ownGray);
}

.text-00 {
    position: absolute;
    top: -12px;
    left: 0px;
    font-weight: 600;
    font-size: 35px;
    color: rgba(175, 175, 175, 0.322);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
}

#spacing-sec3 {
    display: block;
    height: 0rem;
}

/* END THIRD SECTION */

/* START FOURTH SECTION */

#section-4 {
    margin-bottom: 2rem;
}

.jumbo-rubrik2 {
    font-size: 28px;
    font-weight: 700;
}

#fourth-p {
    font-weight: 500;
    font-size: 12px;
}

#appsImg-section4 {
    margin-left: auto; 
    margin-right: auto;
}

#featuresimg4 {
    margin-top: 0rem;
    font-size: 2.8rem;
}

.own-jumbotron2 {
    background-color: rgba(99, 22, 150, 0.925);
    background: linear-gradient(to right, rgba(55, 46, 149, 0.925), rgba(151, 61, 224, 0.925));
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* END FROUTH SECTION */

/* START FIFTH SECTION */

.fifth-section-bg {
    margin-bottom: -8rem;
}

.own-jumbotron5 {
    background-color: rgba(99, 22, 150, 0.925);
    background: linear-gradient(to right, rgba(55, 46, 149, 0.925), rgba(151, 61, 224, 0.925));
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.vara-kunder-sager {
    font-weight: 800;
    font-size: 24px;
}

.own-jumbotron-Fifth {
    padding-top: 5rem;
    padding-bottom: 0rem;
    margin-bottom: 2rem;
}

.grid-top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows:220px;
    width: 350px;
    gap: 1.5em;
    padding: 2rem 1rem 4rem 1rem;
}

.grid-bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows:120px;
    width: 350px;
    gap: 1.5em;
    padding: 0rem 1rem 2rem 1rem;
}

.grid-top > div {
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px rgb(216, 216, 216);
    border-radius: 10px;
}

.grid-bottom > div {
    background-color: #ffffffe1;
    box-shadow: 0 0 5px 2px rgb(216, 216, 216);
    border-radius: 10px;
}

.stats {
    margin-top: 1.4rem;
    margin-left: 1rem;
    margin-right: 5rem;
}

.stats-users {
    margin-top: 1.4rem;
    margin-left: 1rem;
    margin-right: 3rem;
}

#icon-img {
    padding: 1rem;
    padding-top: 1.1rem;
    border: 1.2px solid var(--lightGray);
    border-radius: 5px;
    font-size: 220%;
    color: var(--ownPurple);
}

.rubrik-and-p {
    float: right;
    margin-top: 0.4rem;
}

.antal-rubrik {
    font-weight: 800;
    color: var(--ownGray);
}

.antal-p {
    margin-top: -0.3rem;
    font-weight: 600;
    color: var(--ownPurple);
}

.quote-div {
    padding-right: 0;
}

.names-div {
    border-top: 1.5px solid var(--lightGray);
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.names-div h6 {
    color: var(--ownPurple);
}

.names-p {
    font-weight: 600;
    font-size: 12px;
}

.stars {
    float: right;
    margin-top: 0.2rem;
    padding-right: 3rem;
}

.stars-purple {
    color: var(--ownPurple);
}

.stars-gray {
    color: var(--lightGray);
}

.quote-img {
    float: left;
    font-size: 90%;
    padding: 1.5rem;
    padding-right: 0.5rem;
    padding-bottom: 4rem;
}

.kund-p {
    font-size: 12px;
    font-weight: 600;
    padding-left: 1.2rem;
    color: var(--ownGray);
    padding: 1.5rem;
    padding-right: 0;
    margin-bottom: 0;
    line-height: 1.4;
}

/* END FIFTH SECTION */

/* START SIXTH SECTION */

#container-6 {
    padding-bottom: 10rem;
}

#contactUs {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    resize: none;
}

.form-group {
    padding-right: 1.2rem !important;
    margin-bottom: 2rem;
}

.form-control:focus {
    border-color: var(--purple);
    box-shadow: 0 0 0.09rem 0.09rem rgba(143, 5, 197, 0.2);
}

.form-row ::placeholder {
    font-weight: 600;
    font-size: small;
}

.send-btn {
    float: left;
    font-weight: 600;
    font-size: small;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--ownPurple);
    border: 1px solid transparent;
    padding: 0.8rem 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.send-btn:hover {
    background-color: #fff;
    color:var(--ownPurple);
    border: 1px solid var(--ownPurple);
    box-shadow: 2px 0px 10px -1px var(--ownPurple);
}

/* END SIXTH SECTION */

/* START SEVENTH SECTION */

.row-7 {
    margin-left: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    justify-content: left;
}

.col {
    max-width: 200px;
}

.navbar-brand-footer {
    background-color: var(--brandColor);
    padding: 1.2rem 1.5rem 0.5rem 1.5rem;
    color: #fafafa !important;
    font-size: 20px;
    font-weight: 100;
}

.navbar-brand-footer:hover {
    box-shadow: 2px 0px 15px -1px #f8f8f8;
    border-radius: 5px;
    text-decoration: none;
}

#logo-text {
    font-size: 12px;
}

.seventh-rubrik {
    margin-bottom: 1rem;
    font-size: 16px;
}

.seventh-p {
    padding-left: 1rem;
}

.seventh-p p:hover {
    cursor: pointer;
    color: var(--brandColor);
}

.own-jumbotron7 {
    background-color: rgba(99, 22, 150, 0.925);
    background: linear-gradient(to right, rgba(55, 46, 149, 0.925), rgba(151, 61, 224, 0.925));
    padding-top: 6rem;
    padding-bottom: 0rem;
}

/* .footer-div {
    padding-left: 1.5rem;
} */

.footer-div a {
    display: none;
    float:left;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    background-color: #fff;
}

.footer-div a:hover {
    cursor: pointer;
    color: var(--brandColor);
}

#footer-hem {
    border-top-left-radius: 10px;
}

#copyright {
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.7rem;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #000;
}
/* END SEVENTH SECTION */


/* MEDIA QUERIES */
@media(min-width: 576px) {

    #feature {
        padding-left: 4.5rem !important;
    }

    #second-grid {
        margin: 5rem 6rem;
        margin-top: 4rem;
        margin-left: 12rem;
        padding-right: 0rem;
        padding-top: 2rem;
        width: 90%;
    }
    
    .title2 {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 25px;
        color: black;
    }

    #title2-br1 {
        display: inline;
    }
    
    #feature {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -4.9rem;
    }

    #playBtn {
        width: 15%;
        height: auto;
        top: 120px;
        left: 170px;
    }
    
    #img2 {
        border-radius: 20px;
        display: block;
        margin-left: 1.5rem;
        margin-right: 0rem;
        margin-top: 1.5rem;
        height: 250px;
        width: 100%;
    }
    
    #img3 {
        height: 300px;
        width: 400px;
        margin-left: -7rem;
        margin-top: 1rem;
        padding-right: 3rem;
    }

    #second-content {
        padding-left: 0rem;
        margin-left: -5rem;
        color: var(--ownGray);
        width: 100%;
    }

    /* START THIRD SECTION */

    .own-jumbotron {
        padding-top: 5rem;
    }

    .nested {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows:200px;
        width: 530px;
    }

    #spacing-sec3 {
        height: 2rem;
    }

    /* END THIRD SECTION */

    /* START FOURTH SECTION */
    #section-4 {
        margin-bottom: 20rem;
    }
    /* END FOURTH SECTION */
}

/* MEDIA QUERIE 992px */
@media(min-width: 992px) {

    .navbar #regBtn {
        margin-top: 0.5rem;
    }
    
    .nav-item {
        padding-top: 0.5rem;
    }

    /* START THIRD SECTION */

    .nested {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:180px;
        width: 900px;
    }

    #mobileImg img{
        width: 20%;
    }

    /* END THIRD SECTION */

    /* START FOURTH SECTION */

    .own-rubrik2 {
        font-size: 32px;
    }

    #fourth-p {
        font-size: 14px;
    }

    #featuresimg4 {
        margin-top: 1rem;
    }

    .own-jumbotron2 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    /* END FOURTH SECTION */

    /* START FIFTH SECTION */

    .grid-top {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:220px;
        width: 1000px;
    }

    .grid-bottom {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:120px;
        width: 1000px;
    }
    /* END FIFTH SECTION */
    

}

/* MEDIA QUERIE 1200px  */
@media(min-width: 1200px) {

    /* START NAVBAR */
    .own-mt {
        margin-top: 0;
    }
    
    .navbar {
        background-color: transparent !important;
    }
    
    .navbar-brand {
        background-color: var(--brandColor);
        color: #fff !important;
        margin-left: 10rem;  
        margin-right: 12rem !important;
        padding-top: 1rem;
    }
    
    .nav-item {
        margin-right: 0.5rem;
        font-weight: 600;
        color: var(--ownPurple) !important;
    }
    
    .nav-item:hover {
        color: red !important;
    }
    
    .navbar-nav {
        padding-top: 0.8rem;
    }
    
    .navbar #regBtn {
        display: flex !important;
        float: right !important;
        margin-top: 1.25rem !important;
        margin-bottom: 0 !important;
        margin-right: auto;
    }
    
    /* END NAVBAR */
    
    /* START FIRST-GRID SECTION */
    
    .first-section {
        margin-bottom: 0rem !important; 
    }
    
    #first-grid {
        display: grid;
        margin: 5rem 6rem;
        margin-left: 18rem;
        width: 70%;
        grid-template-columns: 2fr 2fr;
        gap: 5rem;
    }
    
    #first-grid .title {
        width: 80%;
        margin-bottom: 1.5rem;
        line-height: 1.4;
    }
    
    #first-content {
        margin-top: 8rem;
        color: var(--ownGray);
    }
    
    #feature {
        text-align: left;
        padding-right: 0;
        padding-left: 2rem;
    }

    #mobileImg img{
        width: 250%;
    }
    
    #feature2 {
        width: 20%;
    }
    
    #featuresimg {
        font-size: 3.5rem;
        margin-bottom: 3rem;
        padding-right: 1.5rem;
        float: left;
    }
    
    .feature-p {
        font-size: 1.5em;
    }
    
    .p-h1 {
        line-height: 1.4;
    }
    
    /* END FIRST-GRID SECTION */
    
    /* START SECOND SECTION */
    
    #second-grid {
        display: grid;
        margin: 5rem 6rem;
        margin-top: 6rem;
        margin-left: 12rem;
        width: 70%;
        grid-template-columns: 2fr 2fr;
        gap: 8rem !important;
        padding-right: 0rem;
        padding-top: 6rem;
    }
    
    .title2 {
        margin-bottom: 1rem;
        font-weight: 600 !important;
        font-size: 28px !important; 
    }
    
    #p1 {
        margin-bottom: 0;
    }
    
    #p2 {   
        display: inline;
    }
    
    #title2-br1 {
        display: inline;
    }
    
    #feature {
        width: 100% !important;
        padding: 0;
        padding-left: 4rem;
    }
    
    #playBtn {
        width: 15%;
        height: auto;
        position: absolute;
        top: 125px;
        left: 230px;
    }
    
    #playBtn:hover {
        box-shadow: 2px 0px 10px -1px #ffffff;
        background-color: rgb(55, 160, 221);
        border-radius: 100px;
    }
    
    #img2 {
        border-radius: 20px;
        display: block;
        margin-left: 1.2rem;
        margin-right: 0;
        margin-top: 1rem;
        height: 300px;
        width: 93%;
        position: relative;  
    }
    
    #img3 {
        height: 330px;
        width: 540px;
        background-color: rgba(255, 255, 255, 0.041);
        border: 2px solid rgba(255, 255, 255, 0);
        box-shadow: 2px 0px 10px -1px rgba(163, 163, 163, 0.205);
        border-radius: 20px;
        position: relative;
        margin-left: 4rem;
        padding-right: 0rem;
    }

    #second-feature {
        width: 130% !important;
    }
    
    #second-content {
        padding-top: 4rem;
        margin-left: 0rem;
        color: var(--ownGray);
        width: 120%;
    }
    
    #videoParagraph {
        margin-top: 2rem;
    }
    
    #spacing-sec2 {
        height: 18rem;
    }
    /* END SECOND SECTION */

    /* START THIRD SECTION */
    
    #third-section-bg {
        height: 30rem;
    }
    
    .nested {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:180px;
        width: 1100px;
    }

    #spacing-sec3 {
        display: block;
        height: 10rem;
    }

    /* END THIRD SECTION */

    /* START SEVENTH SECTION */

.row-7 {
    margin-right: 0;
    margin-left: 3rem !important;
    padding-bottom: 4rem;
}

.col {
    margin-right: 2rem;
}

.seventh-rubrik {
    margin-bottom: 2rem;
}

.seventh-p {
    font-weight: 700;
    font-size: 12px;
}

.own-jumbotron7 {
    padding-bottom: 3rem;
}

.footer-div {
    padding-left: 1.5rem;
}

.footer-div a {
    display: inline-block;
}

#copyright {
    float:right;
    padding-left: 22.08rem;
    border-top-left-radius: 0px;
}


/* END SEVENTH SECTION */


    }


